.location {
    width: 24%;
    display: inline-block;
    margin: auto;
    border: 1px solid black;
}
.location h2,
.location p,
.location form {
    width: 100%;
    padding: 10px;
    margin: auto;
    text-align: center;
}
.location_box {
    width: 98%;
    margin: auto;
}

.activities {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    height: 100px;
    overflow: scroll;
}
li {
    list-style: none;
}
#act_title {
    padding: 20px 0 0 20px ;
}