<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <!--<link rel="stylesheet" type="text/css" href="main.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'ninja/main.css' %}">
</head>
<body>
<div class="container">
    <h1>Your Gold: <span>{{ request.session.gold }}</span></h1>
    <div class="location_box">
        <div class="location">
            <h2>Farm</h2>
            <p>(earns 10-20)</p>
            <form action="/process/" method="post">
                {% csrf_token %}
                <input type="hidden" name="location" value="farm">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="location">
            <h2>Cave</h2>
            <p>(earns 5-10)</p>
            <form action="/process/" method="post">
                {% csrf_token %}
                <input type="hidden" name="location" value="cave">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="location">
            <h2>House</h2>
            <p>(earns 2-5)</p>
            <form action="/process/" method="post">
                {% csrf_token %}
                <input type="hidden" name="location" value="house">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="location">
            <h2>Casino</h2>
            <p>(earns/takes 0-50)</p>
            <form action="/process/" method="post">
                {% csrf_token %}
                <input type="hidden" name="location" value="casino">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
    </div>
    <p id="act_title">Activities</p>
    <div class="activities">
        <ul>
            {% for item in request.session.location_list reversed %}

                <li>{{ item.place }}</li>
            {% endfor %}

        </ul>
    </div>
</div>
</body>
</html>